<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Prenota lezione</title>
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar('insegnanti')"></nav>
		<div class="container mt-4">
			<!-- prenotazioni -->
			<h1>Lista Prenotazioni</h1>
			<table class="table" th:if="${listaPren.size() > 0}">
					<thead>
						<tr>
							<th>Data Prenotazione</th>
							<th>Orario</th>
							<th>Note</th>
						</tr>
					</thead >
					<tbody>
						<tr th:each="item : ${listaPren}">
							<td th:text="${item.dataPrenotazione}"></td>
							<td th:text="${item.fasciaOraria.fasciaOraria}"></td>
							<td th:text="${item.note}"></td >
						</tr >
					</tbody>
			</table >
			<div class="alert alert-primary mt-5" role="alert" th:unless="${listaPren.size() > 0}">
				Non ci sono ancora prenotazioni
			</div>
		
			<!-- form -->
			<h1 class="mt-5">Prenota una lezione</h1  >	
			<form 
				id="prenotazione-form" 
				th:object="${prenotazione}"
				th:action="@{|/insegnanti/info/${id}/prenota|}"
				method="post"
			>
				<div class="row">
					<div class="col-8">
						<div class="row d-flex flex-column">
							<div class="col-6 mb-4">
								<label class="form-label" for="inizio">Scegli una data</label>
								<input type="date" class="form-control" id="inizio" th:field="*{dataPrenotazione}">
							</div>
							<div class="col-6 mb-4">
								<label class="form-label" for="orari">Scegli una fascia oraria</label>
								<select class="form-select" aria-label="Orari" id="orari" th:field="*{fasciaOraria}">
								 	<option value="">Seleziona fascia oraria</option>
									<option th:each="ora : ${orariList}" th:value="${ora.id}" th:text="${ora.fasciaOraria}"></option>
								</select>
							</div>
							<div class="col-12">
								<label class="form-label" for="note">Note</label>
								<textarea class="form-control" id="note" th:field="*{note}" rows="6"></textarea>
							</div>
							<div class="col-12 d-flex d-flex-row mt-3">
								<button class="btn btn-info me-2" type="submit"> Save</button>
								<a class="btn btn-secondary" th:href="@{|/insegnanti/info/${id}|}"> Cancel</a>
							</div>
						</div >
					</div >
				</div >
	        </form>
		</div>
		
	</body>
</html>