<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Prenota lezione</title>
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar('insegnanti')"></nav>
		<div class="container mt-4">
			<!-- prenotazioni -->
			<h1>Lista Prenotazioni</h1>
			<table class="table" th:if="${list.size() > 0}">
					<thead>
						<tr>
							<th>Data Prenotazione</th>
							<th>Orario</th>
						</tr>
					</thead >
					<tbody>
						<tr th:each="item : ${list}">
							<td th:text="${item.dataPrenotazione}"></td>
							<td th:text="${item.fasciaOraria.fasciaOraria}"></td>
						</tr >
					</tbody>
			</table >
			<div class="alert alert-primary mt-5" role="alert" th:unless="${list.size() > 0}">
				Non ci sono ancora prenotazioni
			</div>
		
			<!-- form -->
			<h1 class="mt-5">Prenota una lezione</h1  >
			<th:block th:if="${successMessage != null}">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<span th:text="${successMessage}"></span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</th:block>
			<th:block th:if="${errorMessage != null}">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<span th:text="${errorMessage}"></span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</th:block>
			<form 
				id="prenotazione-form" 
				th:object="${prenotazione}"
				th:action="@{|/insegnanti/info/${id}/prenota|}"
				method="post"
			>
						<div class="row g-4">
							<div class="col-4">
								<label class="form-label" for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" placeholder="Inserisci il tuo nome" th:field="*{nome}"
									th:errorClass="is-invalid" required>
								<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<div class="col-4">
								<label class="form-label" for="cognome">Cognome</label>
								<input type="text" class="form-control" id="cognome" placeholder="Inserisci il tuo cognome" th:field="*{cognome}"
									th:errorClass="is-invalid" required>
								<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('cognome')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<div class="col-4">
								<label class="form-label" for="email">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Inserisci la tua email" th:field="*{email}"
									th:errorClass="is-invalid" required>
								<div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<div class="col-4">
								<label class="form-label" for="inizio">Scegli una data</label>
								<input type="date" class="form-control" id="inizio" th:field="*{dataPrenotazione}" 
									th:errorClass="is-invalid" required>
								<div th:if="${#fields.hasErrors('dataPrenotazione')}" class="invalid-feedback">
									<ul>
										<li th:each="err :${#fields.errors('dataPrenotazione')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							<div class="col-4">
								<label class="form-label" for="orari">Scegli una fascia oraria</label>
								<select class="form-select" aria-label="Orari" id="orari" th:field="*{fasciaOraria}" 
									th:errorClass="is-invalid" required>
								 	<option value="">Seleziona fascia oraria</option>
									<option th:each="ora : ${orariList}" th:value="${ora.id}" th:text="${ora.fasciaOraria}"></option>
								</select>
								<div th:if="${#fields.hasErrors('fasciaOraria')}" class="invalid-feedback">
									<ul>
										<li th:each="err :${#fields.errors('fasciaOraria')}" th:text="${err}"></li>
									</ul>
								</div>
							</div>
							
							<div class="col-12 d-flex d-flex-row mt-5">
								<button class="btn btn-info me-2" type="submit"> Save</button>
								<a class="btn btn-secondary" th:href="@{|/insegnanti/info/${id}|}"> Cancel</a>
							</div>
						</div >

	        </form>
		</div>
		
	</body>
</html>