<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Prenota lezione</title>
	</head>
	<body>
		<nav th:replace="fragments/navbar :: navbar('insegnanti')"></nav>
		<div class="container">
			<!-- prenotazioni -->
			<table class="table">
					<thead>
						<tr>
							<th>Data Inizio</th>
							<th>Data Fine</th>
							<th>Note</th>
						</tr>
					</thead >
					<tbody>
						<tr th:each="item : ${list}">
							<td th:text="${item.dataInizio}"></td>
							<td th:text="${item.dataFine}"></td>
							<td th:text="${item.note}"></td >
						</tr >
					</tbody>
			</table >
			<div class="alert alert-primary mt-5" role="alert">
				Non ci sono ancora prenotazioni
			</div>
		
			<!-- form -->
		
			<form 
				id="prenotazione-form" 
				th:object="${prenotazione}"
				th:action="@{|/insegnanti/info/${id}/prenota|}"
				method="post"
			>
				<div class="row">
					<div class="col-8">
						<div class="row d-flex flex-column">
							<div class="col-6 mb-4">
								<label class="form-label" for="inizio">Data di inizio</label>
								<input type="datetime-local" class="form-control" id="inizio" th:field="*{dataInizio}">
							</div>
							<div class="col-6 mb-4">
								<label class="form-label" for="fine">Data di fine</label>
								<input type="datetime-local" class="form-control" id="fine" th:field="*{dataFine}">
							</div>
							<div class="col-12">
								<label class="form-label" for="note">Note</label>
								<textarea class="form-control" id="note" th:field="*{note}" rows="6"></textarea>
							</div>
							<div class="col-12 d-flex d-flex-row mt-3">
								<button class="btn btn-info me-2" type="submit"> Save</button>
								<a class="btn btn-secondary" th:href="@{|/insegnanti/info/{id}|}"> Cancel</a>
							</div>
						</div >
					</div >
				</div >
	        </form>
		</div>
		
	</body>
</html>