<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Corsi</title>
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar(current)"></div>
		<div class="container p-3">
			
			<h1 class="text-center">Lista corsi</h1 >
			<hr>
			
			<div class="mb-3 d-flex justify-content-between">
				<form th:action="@{/amministrazione/corsi/list}" method="get">
					<div class="input-group">
						<input name="keyword" th:value="${keyword}" class="form-control" type="search" placeholder="Search"
							aria-label="Search">
						<button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
					</div>
					
					
				</form>
			</div>
			
			<table class="table" >
				<thead>
					<tr>
						<th>Titolo</th>
						<th>Data di creazione</th>
						<th>Livello</th>
						<th></th>
					</tr>
				</thead >
				<tbody>
					<tr th:each="item : ${list}">
						<td th:text="${item.titolo}"></td>
						<td th:text="${item.dataCreazione}"></td>
						<td th:text="${item.livello}"></td >
						<td>							
							<a class="btn btn-primary" th:href="@{|/amministrazione/corsi/delete/${item.id}|}" onclick="return confirm('Sicuro di voler cancellare il corso?')"><i class="fas fa-trash-alt"></i></a>

						

							<a class="btn btn-primary" th:href="@{|/amministrazione/corsi/detail/${item.id}|}"><i class="fas fa-info-circle"></i></a>

							<a class="btn btn-primary" th:href="@{|/amministrazione/corsi/edit/${item.id}|}"><i class="fas fa-edit"></i></a>
						</td>
					</tr >
				</tbody>
			</table >
			
			</div >
			<div class="container text-center">
		<a th:href="@{/amministrazione/corsi/create}" class="btn btn-primary my-5">Crea un nuovo corso</a>
		<a class="btn btn-primary" th:href="@{/amministrazione}"><i class="fas fa-undo"></i> Indietro</a>
	</div>
		</div >
		<div th:replace="fragments/resources :: scripts"></div>
	</body>
</html>