<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Insegnanti</title>
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar(current)"></div>
		<div class="container mb-3">
			
			<th:block th:if="${successMessage != null}">
				<div class="alert alert-success alert-dismissible fade show mt-1" role="alert">
					<span th:text="${successMessage}"></span>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</th:block>
			
			<h1 class="text-center p-3">Insegnanti</h1 >
			<hr />
			
			<div class="row mb-2 pt-2 d-flex justify-content-between"  th:if="${list.size() > 0}">

				<div th:each="item : ${list}" class="col-3">
					<div class="card shadow bg-body rounded" style="width: 18rem;">
						<img th:src="|/insegnanti/${item.id}/foto|" class="card-img-top" th:alt="${item.nome}">
						<div class="card-body text-center">
							<h5 class="card-title" th:text="${item.nome}"></h5>
							<h4 class="card-title" th:text="${item.cognome}"></h4>
							<hr>
							<a class="btn btn-danger" th:href="@{|/insegnanti/info/${item.id}|}"><i class="fas fa-info-circle"></i></a>
						</div>
					</div>
				</div>
			</div>
			<br/>		
			<div class="d-flex justify-content-center">
				<a class="btn btn-danger" th:href="@{/}"><i class="fas fa-undo"></i> Indietro</a>
			</div>
			<div class="alert alert-primary" role="alert" th:unless="${list.size() > 0}">
				There are no insegnanti in the database
			</div>
		</div>
		<div th:replace="fragments/resources :: scripts"></div>
	</body>
</html>