<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>E-learning Platform</title>
</head>
<body>
	<div th:replace="fragments/navbarHomepage :: navbarHomepage(current)"></div>	
	<header class="container-fluid m-0 p-0">
		<img class="w-100"
			src="/img/38.png"
			alt="e-learning">
		>
	</header >
	<section class="row p-5 mt-4 mb-5 d-flex justify-content-center">
		<div class="col-6 p-4 mb-2 text-center shadow-lg bg-light">
			<h1 class="p-1 text-uppercase my-3">ඞ La piattaforma e-learning che semplifica la formazione online</h1>
			<h6 class="p-2">Benvenuto nel luogo in cui avrà inizio il tuo successo. Scopri i corsi migliori per te oppure prenota una lezione privata con una nostra insegnante.</h6>
		</div >
	</section >
	<div class="container mb-5 pb-4">
		<main>
			<div class="d-flex d-flex-row justify-content-center text-center mb-2">
				<div class="card mx-3 shadow-lg" style="width: 32rem; height: 30rem;">
					<img src="/img/corsiindex.png"
						class="card-img-top" alt="...">
					<div class="card-body">

						<h5 class="card-title p-1">Lista dei corsi</h5>
						<a th:href="@{/corsi}" class="btn btn-danger mt-1">Vai alla lista</a>

					</div>
				</div>
				<div class="card mx-3 shadow-lg" style="width: 32rem; height: 30rem;">
					<img src="https://www.wgu.edu/content/dam/web-sites/blog-newsroom/blog/images/national/2020/march/6-ways-to-improve-online-teaching.jpg"
						class="card-img-top" alt="...">
					<div class="card-body">

						<h5 class="card-title p-1">Lista degli insegnanti</h5>
						<a th:href="@{/insegnanti}" class="btn btn-danger mt-1">Vai alla lista</a>

					</div>
				</div>
		</main>
	</div>
	<footer class="container-fluid bg-dark p-2">
		<div class="row d-flex justify-content-center">
			<div class="col-12 text-light p-3 text-center">
				<h3>Project Work created by:</h3>
				<h4>ඞ TEAM 3</h4>
				<span class="me-1 fs-5">Luca Il Grande, </span >
				<span class="me-1 fs-5">Fracesca Pompi, </span >
				<span class="me-1 fs-5">Elia Mazzucco, </span >
				<span class="fs-5">Fabio Cividini</span  >
				<p class="mt-5">© Copyright 2022, E-learning-Platform.it</p >
			</div >
		</div >
	</footer >
	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>