<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Dettaglio corso</title>
	</head>
	<body>
		<div th:replace="fragments/navbar :: navbar(current)"></div>
		<div class="container text-center">
			<h1 class="p-2" th:text="|Dettaglio del corso: ${corso.titolo}|"></h1  >
			<hr>
			<div class="text-center">
				<a class="btn btn-primary fw-bold" th:href="@{/corsi}"><i class="fas fa-undo-alt"></i> Torna alla lista</a>
			</div >
			
			<div class="row justify-content-center">
				<div class="col-3">
					<dl>
						<dt>Titolo</dt>
						<dd th:text="${corso.titolo}"></dd>
						<dt>Descrizione</dt>
						<dd th:text="${corso.descrizione}"></dd>
						<dt>Categoria</dt>
						<dd th:text="${corso.categoria}"></dd>
						<dt>Livello di difficoltà</dt>
						<dd th:text="${corso.livello}"></dd>
						<dt>Data di creazione</dt>
						<dd th:text="${corso.dataCreazione}"></dd>
						<dt>Durata corso</dt>
						<dd th:text="${corso.durata}"></dd>
						<dt>Insegnanti</dt>
						<dd th:each="item : ${listIns}" th:text="|${item.nome} ${item.cognome}|"></dd >

						<dt>Visualizzazioni</dt>
						<dd th:text="${corso.visualizzazioni}"></dd>
					</dl>
				</div >
				<div class="col-9">
					<h4>Capitoli:</h4>
					<table class="table" th:if="${corso.capitoli.size() > 0}">
						<thead>
							<tr>
								<th>Numero del capitolo</th>
								<th>Titolo</th>
								<th>Descrizione</th>
								<th></th>
							</tr>
						</thead >
						<tbody>
							<tr th:each="cap : ${corso.capitoli}">
								<td th:text="${cap.numeroCapitolo}"></td>
								<td th:text="${cap.titolo}"></td>
								<td th:text="${cap.descrizione}"></td>
								<td>
									<a class="btn btn-primary" th:href="@{/corsi/capitolo/{id}/watch(id=${cap.id})}"><i class="fas fa-play"></i></a>
								</td>
							</tr >
						</tbody>
					</table >
			
					<div class="alert alert-primary" role="alert" th:unless="${corso.capitoli.size() > 0}">
				 		Non ci sono capitoli
					</div>
					
				</div>
			</div >
		</div >
		<div th:replace="fragments/resources :: scripts"></div>
	</body>
</html>