<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="fragments/resources :: headTags"></div>
		<title>Dettaglio corso</title>
	</head>
	<body>
		
		<div th:replace="fragments/navbar :: navbar(current)"></div>
	<div class="container text-center">
		<div class="row justify-content-between bg-dark align-middle p-4">
		
			<div class="col-6 ms-5 p-4">
				<h1 class="text-light fw-bold p-1" th:text="${corso.titolo}"></h1>
				<p class="text-light p-1 fs-4" th:text="${corso.descrizione}"></p>
				<hr style="color: white">
				<dl class="d-flex justify-content-between text-center pt-3">
					<div class="text-light">
						<dt><i class="fas fa-clipboard-list"></i> Categoria:</dt >

						<dd th:text="${corso.categoria}"></dd>
					</div >
					<div class="text-light">
						<dt><i class="fas fa-exclamation-triangle"></i> Livello di difficoltà:</dt >
						<dd th:text="${corso.livello}"></dd>
					</div >
					<div>
						<dt class="text-light"><i class="fas fa-graduation-cap"></i> Creato da:</dt >
						<dd class="text-light" th:each="item : ${listIns}" th:text="|${item.nome} ${item.cognome}|"></dd >
					</div>
					<div class="text-light">
						<dt><i class="fas fa-hourglass-half"></i> Durata corso (ore):</dt >
						<dd th:text="${corso.durata}"></dd>
					</div >
				</dl >
			</div >
			
			<div class="col-4 me-5 p-4 align-bottom d-flex justify-content-center">
				<div class="card bg-dark text-center border border-white shadow-lg" style="width: 18rem; height:15rem;">
					<img th:src="@{/img/corso-online.jpg}" class="card-img-top" alt="corsi">
					<div class="card-body">
				    	<button class="bg-dark border border-dark">
							<a class="btn btn-danger text-light fw-bold" th:href="@{/corsi}"><i class="fas fa-undo-alt"></i> Torna alla lista</a>
						</button >
					</div>
				</div>
			</div >
			<hr style="color: white">
			
			<div class="col-12 d-flex justify-content-around text-center mt-2">
				<div>
					<span class="text-light fw-bold"><i class="fas fa-tags"></i> Tags:</span>
					<span class="text-light" th:each="item : ${listTag}" th:text="|${item.nome} |"></span>
				</div >
				<div>
					<dt class="text-light"><i class="fas fa-eye"></i> Visualizzazioni:</dt >
					<dd class="text-light" th:text="${corso.visualizzazioni}"></dd >
				</div >
				<div class="text-light">
					<dt><i class="fas fa-calendar-day"></i> Data di creazione:</dt >
					<dd th:text="${corso.dataCreazione}"></dd>
				</div >
			</div >
		</div >
		
		<h1 class="text-center p-3"><i class="fas fa-tasks"></i> Programma del corso:</h1 >
		<hr>
		<div class="container mt-3 mb-2">
			<h2 class="text-center p-3"><i class="fas fa-bookmark"></i> Capitoli</h2 >
			
			<div class="row d-flex justify-content-center" th:if="${corso.capitoli.size() > 0}">
				<div class="col-6 text-center p-3 border">
					<div class="d-flex justify-content-between shadow-lg m-3 bg-dark border border-light" th:each="cap : ${corso.capitoli}">
						<div>
							<img th:src="@{/img/capitolo.jpg}" class="card-img-start" alt="corsi">
						</div >
						<div class="card-body text-light">
							<h5 class="card-title" th:text="${cap.titolo}"></h5>
							   <p class="card-text" th:text="|N° capitolo: ${cap.numeroCapitolo}|"></p>
							   <a class="btn btn-danger" th:href="@{/corsi/capitolo/{id}/watch(id=${cap.id})}"><i class="fas fa-play"></i></a>
						</div>
					</div  >	    
				</div >
			</div >
			
			<div class="alert alert-primary" role="alert" th:unless="${corso.capitoli.size() > 0}">
				 Non ci sono capitoli
			</div>
			<div>
					<a type="submit" class="btn btn-primary" onclick="addLike()" id="likebutton">Mi piace <i
							class="fas fa-thumbs-up"></i></a>
					<a id="like" for="likebutton" class="btn disabled" th:text="${corso.miPiace}"></a>
				</div>
		</div >
		<div th:replace="fragments/resources :: scripts"></div>
		<script th:src="@{/js/likebutton.js}"></script>
	</body>
</html>