<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<!-- head resources -->
	<th:block th:fragment="headTags">
	    <meta charset="utf-8">
	   	<meta name="viewport" content="width=device-width, initial-scale=1">
	    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
	    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	</th:block>
	</head>
	<body>
	<!-- script resources -->
		<div th:fragment="scripts">
			<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
		</div>
	</body>
</html>