<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>	
	<title>Nuovo Insegnante</title>
</head>

<body>
<div class="container">	
	
		<h1 class="text-center">Aggiungi un insegnante</h1 >
		
	<div class="container">
		
		    <form 
		    
		    id= "insegnante-form"
		    th:object="${insegnante}"
		    th:action="@{/amministrazione/insegnanti/create}"
		    method="post">
		    
       <div class="row gy-2">
			<div class="col-8">
				<div class="col-6">
					<label class="form-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
					<ul>
						<li th:each="err :${#fields.errors('nome')}" th:text="${err}"></li >
					</ul>
					</div >
				</div>
				
				<div class="col-3">
					<label class="form-label" for="cognome">Cognome</label>
					<input type="text" class="form-control" id="cognome" th:field="*{cognome}" th:errorClass="is-invalid">
					<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
					<ul>
					
					<li th:each="err : ${#fields.errors('cognome')}" th:text="${err}"></li >
					</ul>
					</div >
				</div>
      
	</div>
		
		<button class="btn btn-primary" type="submit"><i class="fas fa-check"></i></i> Salva</button>
	
</body>
</html>

	