<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>Nuovo Insegnante</title>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar(current)"></div>
	<div class="container">

		<h1 class="text-center">Aggiungi un insegnante</h1>

		<div class="container">

			<form id="insegnante-form" th:object="${insegnante}"
				th:action="${edit} ? @{|/amministrazione/insegnanti/edit/${id}|} : @{|/amministrazione/insegnanti/create|}"
				method="post" encType="multipart/form-data">


				<div class="row gy-2">

					<div class="col-4">
						<label class="form-label" for="nome">Nome</label>
						<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
							<ul>
								<li th:each="err :${#fields.errors('nome')}" th:text="${err}"></li>
							</ul>
						</div>

					</div>
					<div class="col-4">
						<label class="form-label" for="cognome">Cognome</label>
						<input type="text" class="form-control" id="cognome" th:field="*{cognome}"
							th:errorClass="is-invalid">
						<div th:if="${#fields.hasErrors('cognome')}" class="invalid-feedback">
							<ul>

								<li th:each="err : ${#fields.errors('cognome')}" th:text="${err}"></li>
							</ul>
						</div>
					</div>

					<div class="col-4">
						<label for="foto" class="form-label">Foto profilo</label>
						<input id="foto" type="file" class="form-control" th:field="*{foto}">

						<div class="card">

							<img th:src="|/insegnanti/${insegnante.id}/foto|" class="card-img-top" />
							<div class="card-body">
								<div class="h5 card-title" th:text=${insegnante.nome}></div>
							</div>
						</div>

					</div>
				</div>
				<br />

				<div class="container text-center">
					<button class="btn btn-primary" type="submit"><i class="fas fa-check"></i></i> Salva</button>
					<a class="btn btn-primary" th:href="@{/amministrazione/insegnanti}"><i class="fas fa-undo"></i>
						Indietro</a>
				</div>

				<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>