<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/resources :: headTags"></div>
	<title>E-learning Platform</title>
</head>


<body>
	<div th:replace="fragments/navbarHomepage :: navbarHomepage"></div>
	<img style="width: 100%;"

			src="/img/38amministrazione.png"
			alt="e-learning">

	<main>
		<div class="container py-5 my-5">
			<div class="d-flex d-flex-row justfy-content-center text-center mb-5">
				<div class="mx-3 card shadow bg-body rounded" style="width: auto;">
					<img src="/img/corsiindex.png"
						class="card-img-top img-fluid" alt="corsi">
					<div class="card-body">
						<h5 class="card-title">Gestore corsi</h5>
						<a th:href="@{/amministrazione/corsi/list}" class="btn btn-danger">Vai alla modifica</a>
					</div>
				</div>
				<div class="mx-3 card shadow bg-body rounded" style="width: auto;">
					<img src="https://www.wgu.edu/content/dam/web-sites/blog-newsroom/blog/images/national/2020/march/6-ways-to-improve-online-teaching.jpg"
						class="card-img-top img-fluid" alt="insegnanti">
					<div class="card-body">
						<h5 class="card-title">Gestore insegnanti</h5>
						<a th:href="@{/amministrazione/insegnanti}" class="btn btn-danger">Vai alla modifica</a>
					</div>
				</div>
			</div>
		</div>
		<img src="/img/banner-6617550__340.png" style="width: 100%;">
		<div class="container mt-4">
			<div class="row justify-content-around pt-5" style="height: 550px;">
					
				<div class="col-3 list-group overflow-auto h-75 ">
				<h4 class="text-center text-uppercase">Corsi più visualizzati</h4 >
				  <a th:each="item : ${corsi}" th:href="@{|/amministrazione/corsi/detail/${item.id}|}" class="list-group-item shadow p-3 mb-2 bg-body rounded" aria-current="true">
				    <div class="d-flex w-100 justify-content-between">
				      <h5 class="mb-1" th:text="${item.titolo}"></h5>
				      <small th:text="${item.visualizzazioni}"></small >
				    </div>
				    <p class="mb-1" th:text="${item.livello}"></p>
				  </a>
				</div>
			
					<div class="col-3 list-group overflow-auto h-75">
					<h4 class="mt-5 text-center text-uppercase">Corsi più recenti</h4 >
					  <a th:each="item : ${listaRecente}" th:href="@{|/amministrazione/corsi/detail/${item.id}|}" class="list-group-item shadow p-3 mb-2 bg-body rounded" aria-current="true">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="mb-1" th:text="${item.titolo}"></h5>
					      <small th:text="${item.dataCreazione}"></small >
					    </div>

					    <p class="mb-1" th:text="${item.livello}"></p>
					  </a>
					</div >
					
					<div class="col-3 list-group overflow-auto h-75">
					<h4 class="mt-5 text-center text-uppercase">Prossime lezioni</h4 >
					  <a th:each="item : ${insegnanti}" th:href="@{|/insegnanti/info/${item.id}|}" class="list-group-item shadow p-3 mb-2 bg-body rounded" aria-current="true">
					    <div class="d-flex w-100 justify-content-between">
					      <h5 class="mb-1" th:text="|${item.cognome} ${item.nome}|"></h5>
					    </div>
					    <p class="mb-1" th:each="pren : ${item.getPrenotazioniFuture()}" th:text="|${pren.dataPrenotazione}, ${pren.fasciaOraria.fasciaOraria}|"></p>
					  </a>
					</div >

			</div >
			<div class="d-flex justify-content-center">
			<a th:href="@{/}" class="btn btn-danger my-5">Index</a>
		</div>
		</div>

	</main>

	<div th:replace="fragments/resources :: scripts"></div>
</body>

</html>